<main class="content-wrapper-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="inr-title-comn d-flex align-items-center">
          <h1>Orders</h1>
          <div class="inr-title-btn ml-auto">
            <button type="button" class="btn btn btn-reset">Export</button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="dash-box-white">
          <div class="tab-content">
            <div
              class="tab-pane fade active show"
              id="pills-All"
              role="tabpanel"
              aria-labelledby="pills-All-tab"
            >
              <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                id="Orders-list"
                class="display"
              >
                <thead>
                  <tr>
                    <th>Action</th>
                    <th>Id</th>
                    <th>User Name</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Form</th>
                    <th>Timestamp</th>
                  </tr>
                </thead>
                <tbody *ngIf="data?.length != 0">
                  <tr *ngFor="let person of data; index as i">
                    <td>
                      <a
                        href="javascript:void(0)"
                        (click)="onDelete(person.id)"
                      >
                        <img
                          src="assets/images/delete-icon.svg"
                          class="mx-2 table-img-inr"
                          alt=""
                        />
                      </a>
                    </td>
                    <td>{{ person.id }}</td>
                    <td>{{ person.username }}</td>
                    <td>{{ person.role }}</td>
                    <td>
                      <span class="status-{{ person.status }} status-label">{{
                        person.status
                      }}</span>
                    </td>
                    <td>
                      <pre>{{ person.form }}</pre>
                    </td>
                    <td>{{ person.timestamp }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay toggle-icon-main"></div>
</main>
