<div class="contact-bg-img">
  <div class="contact-img">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="contact-title">
            <h3>How it work</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row row-space mb-5 align-items-center" id="">
      <div class="col-12 col-lg-6">
        <div class="swiper section-one">
          <div class="row">
            <div class="col-12">
              <div class="new-account-title">
                <p>How to create new account</p>
              </div>
            </div>
          </div>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="text-lg-step">
                  <h5 class="mb-3">Step 1.</h5>
                  <p class="mb-2">Enter your email address.</p>
                  <p class="mb-2">
                    Choose your username<i class="ml-2">
                      (at least 5 characters).
                    </i>
                  </p>
                  <p class="mb-12">
                    Choose your password<i class="ml-2"
                      >(at least 8 numeric characters and be inspired.)</i
                    >
                  </p>
                </div>
                <div class="img-section text-center mb-5">
                  <img
                    src="/assets/images/signup-1.png"
                    class="img-fluid"
                    alt="signup-1"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="text-lg-step">
                  <h5 class="mb-3">Step 2.</h5>
                  <p class="mb-12">
                    Follow your favorite creator from our community and be able
                    to discover trendy & Fashionable looks and get inspired.
                  </p>
                </div>
                <div class="img-section text-center">
                  <img
                    src="/assets/images/signup-2.png"
                    class="img-fluid"
                    alt="signup-2"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="text-lg-step">
                  <h5 class="mb-3">Step 3.</h5>
                  <p class="mb-12">
                    Choose your country/region to ensure that only the products
                    in our list are displayed). More than 10,000 sellers deliver
                    the goods to the destination. Choose your gender so that we
                    can adjust your profile and show you only relevant content.
                  </p>
                </div>
                <div class="img-section text-center">
                  <img
                    src="/assets/images/signup-3.png"
                    class="img-fluid"
                    alt="signup-3"
                  />
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="swiper section-two">
          <div class="row">
            <div class="col-12">
              <div class="new-account-title">
                <p>How to edit your profile</p>
              </div>
            </div>
          </div>
          <div class="swiper-container swiper-second">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="text-lg-step">
                  <h5 class="mb-3">Step 1.</h5>
                  <p class="mb-12">
                    You can edit your profile and change privacy settings by
                    clicking on the menu icon in the upper right corner of the
                    profile page.
                  </p>
                </div>
                <div class="img-section text-center">
                  <img
                    src="/assets/images/signup-4.png"
                    class="img-fluid"
                    alt="signup-4"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="text-lg-step">
                  <h5 class="mb-3">Step 2.</h5>
                  <p class="mb-12">
                    Under <b>"Hamburger Icon",</b> find "Edit Profile".
                  </p>
                </div>
                <div class="img-section text-center">
                  <img
                    src="/assets/images/signup-5.png"
                    class="img-fluid"
                    alt="signup-5"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="text-lg-step">
                  <h5 class="mb-3">Step 3.</h5>
                  <p class="mb-12">
                    Insert all information and click on the
                    <b>"right icon"</b> in the upper right corner of the profile
                    page to update your profile.
                  </p>
                </div>
                <div class="img-section text-center">
                  <img
                    src="/assets/images/signup-6.png"
                    class="img-fluid"
                    alt="signup-6"
                  />
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="swiper section-three">
          <div class="row">
            <div class="col-12">
              <div class="new-account-title">
                <p>How to Upload & Tag Product</p>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <div class="text-center">
                <img
                  src="/assets/images/signup-7.png"
                  class="img-fluid mt-5"
                  alt="signup-7"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-6">
        <div class="box-inner text-color-change box-1">
          <div class="number-text">
            <div class="img-display">
              <img
                src="/assets/images/arrow-bottom-black.png"
                class="section-arrow-one"
              />
              <img
                src="/assets/images/arrow-bottom.png"
                class="section-arrow-two"
              />
            </div>
            <div class="main-text">
              <h1>01</h1>
            </div>
            <div class="text-desc">
              <h3>Sign Up</h3>
              <p class="des-text">
                It is free and easy. Just log in with your email address or use
                one of your social media accounts. Create a new account
              </p>
            </div>
          </div>
        </div>
        <div class="box-inner box-2">
          <div class="number-text">
            <div class="img-display">
              <img
                src="/assets/images/arrow-bottom-black.png"
                class="section-arrow-three"
              />
              <img
                src="/assets/images/arrow-bottom.png"
                class="section-arrow-four"
              />
            </div>
            <div class="main-text">
              <h1>02</h1>
            </div>
            <div class="text-desc">
              <h3>Edit Profile</h3>
              <p class="des-text">
                By setting up your profile from the beginning you can build your
                presence in the community more personal, engaging, and hence
                increases your overall presence. How to edit PROFILE
              </p>
            </div>
          </div>
        </div>
        <div class="box-inner box-3">
          <div class="number-text">
            <div class="img-display">
              <img
                src="/assets/images/arrow-bottom-black.png"
                class="section-arrow-five"
              />
              <img
                src="/assets/images/arrow-bottom.png"
                class="section-arrow-six"
              />
            </div>
            <div class="main-text">
              <h1>03</h1>
            </div>
            <div class="text-desc">
              <h3>UPLOAD & TAG</h3>
              <p class="des-text">
                Edit, Tag & Post your own styles and share them with the AFILIYO
                community and your followers on your other social channels.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-space mb-5 align-items-center" id="">
      <div class="col-12 col-md-12 col-lg-6 order-1 order-lg-0">
        <div class="box-inner-new text-color-change-new box-4">
          <div class="number-text number-text-end">
            <div class="text-desc">
              <h3>Share</h3>
              <p class="des-text height-auto-text">
                Grow your followers and let them “shop your style” on AFILIYO by
                inviting anyone to sign up to as well. We create a unique link
                of your post’s, so that you can share it on multiple platforms
                to get higher audience & rewards. The more followers you bring
                to the platform, the higher your rewards will be.
              </p>
            </div>
            <div class="main-text">
              <h1>04</h1>
            </div>
            <div class="img-display">
              <img
                src="/assets/images/arrow-right-black.png"
                class="section-arrow-saven"
              />
              <img
                src="/assets/images/arrow-right.png"
                class="section-arrow-eight"
              />
            </div>
          </div>
        </div>
        <div class="box-inner-new box-5">
          <div class="number-text number-text-end">
            <div class="text-desc">
              <h3>creator</h3>
              <p class="des-text height-auto-text">
                As a creator, you can now earn commissions every time someone
                buys a product that is tagged on your fashion photos/videos.
              </p>
            </div>
            <div class="main-text">
              <h1>05</h1>
            </div>
            <div class="img-display">
              <img
                src="/assets/images/arrow-right-black.png"
                class="section-arrow-nine"
              />
              <img
                src="/assets/images/arrow-right.png"
                class="section-arrow-ten"
              />
            </div>
          </div>
        </div>
        <!-- <div class="box-inner-new box-6">
          <div class="number-text number-text-end">
            <div class="text-desc">
              <h3>SHOP</h3>
              <p class="des-text">Post your own styles and share them with the Afilyo community &amp; your followers on your social channels. Our AI will take care to find shoppable products shown on your photos.</p>
            </div>	
            <div class="main-text">
              <h1>06</h1>
            </div>
            <div class="img-display">
              <img src="/assets/images/arrow-right-black.png" class="section-arrow-eleven">
              <img src="/assets/images/arrow-right.png" class="section-arrow-twelve">
            </div>
          </div>
        </div> -->
      </div>

      <div class="col-12 col-lg-6">
        <div class="swiper section-four">
          <div class="img-section mb-5 text-center">
            <img
              src="/assets/images/signup-1.png"
              class="img-fluid"
              alt="signup-1"
            />
          </div>
        </div>
        <div class="swiper section-five">
          <div class="img-section mb-5 text-center">
            <img
              src="/assets/images/signup-3.png"
              class="img-fluid"
              alt="signup-1"
            />
          </div>
        </div>
        <div class="swiper section-six">
          <div class="img-section mb-5 text-center">
            <img
              src="/assets/images/signup-5.png"
              class="img-fluid"
              alt="signup-1"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
