<footer class="bg-img-black">
  <img src="assets/images/connecter.svg" class="img-fluid" alt="" />
  <div class="bg-img-content">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 border-right-footer">
          <div class="footer-menu-inr">
            <ul class="list-unstyled">
              <li>
                <h2>Join Our Network :</h2>
                <p>
                  I'm ready to expand my brand's reach through affiliate
                  relationships
                </p>
              </li>
              <li>
                <h2>Become AN Advertiser</h2>
                <p>
                  I'm ready to earn commissions for promoting brands to my
                  audience.
                </p>
                <a [routerLink]="['/brand/apply']" class="btn btn-footer">Advertiser</a>
              </li>
              <li>
                <h2>Become A Publisher</h2>
                <a [routerLink]="['/influencer/apply']" class="btn btn-footer">Publisher</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-lg-4 border-right-footer">
          <div class="footer-menu-inr">
            <ul class="list-unstyled">
              <li>
                <h2>Get Support :</h2>
                <p>Get quick answers to common questions.</p>
              </li>
              <li>
                <h2>VIEW FAQS</h2>
                <p>
                  Already a part of our network? Access our robust Support
                  Center.
                </p>
              </li>
              <!-- <li>
                <h2>LOG IN NOW</h2>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="footer-menu-inr">
            <ul class="list-unstyled">
              <li>
                <h2>Speak to a Specialist :</h2>
                <p>
                  We're available Monday through Friday <br />
                  6AM - 5PM Pacific Time
                </p>
                <p><a href="mailto:info@afiliyo.com">info@afiliyo.com</a></p>
                <br />
                <p><a href="tel:+91-(800)-761-1072">+91-(800)-761-1072</a></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copy-right-div">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="copy-text">
          <p>© Afiliyo 2010-2021 All Rights Reserved</p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="policy-text">
          <ul class="list-unstyled">
            <li><a [routerLink]="['/privacy']">Privacy Policy</a></li>
            <li><a [routerLink]="['/cookie-policy']">Cookie Policy</a></li>
            <li><a [routerLink]="['/terms-condition']">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
