<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-lg-12 col-md-12">
      <div class="log_pages_right_side">
        <div class="log_pages_logo-ctr">
          <img src="/assets/assets-admin/images/afiliyo.svg" alt="" />
        </div>
        <div class="log_pages_right_side-form">
          <h3>Reset Password</h3>
          <form class="row comn-form">
            <div class="col-12">
              <div class="form-group">
                <label>New Password</label>
                <input
                  #newPw
                  type="password"
                  placeholder="Password"
                  class="form-control comn-style"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label>Re-type Password</label>
                <input
                  #confPw
                  type="password"
                  placeholder="Repeat password"
                  class="form-control comn-style"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer border-0 mx-md-3 pb-md-5">
          <button
            type="button"
            class="btn btn-invite"
            (click)="onRequest(newPw.value, confPw.value)"
          >
            Reset Password
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
