<main class="content-wrapper-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="inr-title-comn d-sm-flex align-items-center">
          <h1>Google Analytics Dashboard</h1>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          &nbsp; &nbsp; &nbsp;For you reports on google analytics visit &nbsp;
          <a
            href="https://console.firebase.google.com/u/2/project/afilio-app/analytics/app/android:com.app.afiliyo_app/overview/~2F%3Ft%3D1621861072526&fpn%3D93907910979&swu%3D1&sgu%3D1&sus%3Dupgraded&cs%3Dapp.m.dashboard.overview&g%3D1"
            target="_blanks"
          >
            Google Analytics Dashboard</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="overlay toggle-icon-main"></div>
</main>
