<section>
  <div class="bg-content">
    <div class="bg-content-img">
      <div class="bg2-content-img"></div>
      <div class="container center-section">
        <div class="row center-section">
          <div class="col-12 col-lg-10 offset-lg-1">
            <div class="influencer-bg-color">
              <div class="influ-title">
                <p class="mb-0">Achieve Big Through Influencing.</p>
              </div>
              <div class="influ-text">
                <h3 class="text-center mt-3">Create. Share. Grow.</h3>
                <p class="mb-0">
                  Leverage the power of Afiliyo Network to grow an audience of
                  highly engaged shoppers. Being a part of Afiliyo means working
                  alongside industry-leading influencers, tastemakers, stylists,
                  and celebrities across all lifestyle categories - fashion,
                  home, beauty, family, and more.
                </p>
                <p>
                  Join Afiliyo and connect with our network of brands and retail
                  partners to get bigger and better results.
                </p>
              </div>
              <div class="section-btn-apply mt-4 text-center">
                <a
                  [routerLink]="['/influencer/infapply']"
                  class="btn btn-apply-inf"
                  >apply now</a
                >
              </div>
            </div>
            <div class="mt-5 apply-link text-center">
              <p class="mb-0">
                Are you a brand or retailer? Apply
                <a [routerLink]="['/brand/apply']">here!</a>
              </p>
            </div>
            <div class="mt-5 apply-link text-center">
              <p class="mb-0">
                Looking to shop our Influencer Content? Download the app
                <a href="javascript:void(0)" (click)="onRedirect('download')"
                  >here!</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
