body {
  overflow-y: auto;
}

.signup-step-container {
  padding: 150px 0px;
  padding-bottom: 60px;
}
.bg-color {
  background-color: #333;
}
.signup-step-container {
  padding: 150px 0px;
  padding-bottom: 60px;
}
.wizard .nav-tabs {
  position: relative;
  margin-bottom: 0;
  border-bottom-color: transparent;
}
.wizard > div.wizard-inner {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}
.connecting-line {
  height: 2px;
  background: #000000;
  position: absolute;
  width: 66%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 1;
}
.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}
span.round-tab {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 16px;
  color: #0e214b;
  font-weight: 500;
  border: 1px solid #ddd;
}
span.round-tab i {
  color: #555555;
}
.wizard li.active span.round-tab {
  background: #0db02b;
  color: #fff;
  border-color: #0db02b;
}
.wizard li.active span.round-tab i {
  color: #5bc0de;
}
.wizard .nav-tabs > li.active > a i {
  color: #0db02b;
}
.wizard .nav-tabs > li {
  width: 33%;
}
.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: red;
  transition: 0.1s ease-in-out;
}
.wizard .nav-tabs > li a {
  width: 30px;
  height: 30px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
  background-color: transparent;
  position: relative;
  top: 0;
}
.wizard .nav-tabs > li a i {
  position: absolute;
  top: 50px;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  left: 0;
  transform: translate(6%, -62%);
  font-size: 12px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin: 0 auto;
  right: 0;
}
.wizard .nav-tabs > li a i.posttab {
  left: -35px;
}
.wizard .nav-tabs > li a:hover {
  background: transparent;
}
.wizard .tab-pane {
  position: relative;
  padding-top: 20px;
}
.wizard h3 {
  margin-top: 0;
}
.prev-step,
.next-step,
.next-step1 {
  font-size: 13px;
  padding: 8px 24px;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  padding: 10px 50px;
}
.prev-step,
.next-step,
.next-step1 {
  background-color: #404040;
  color: #fff;
}
/* .step1-form input{
  background: transparent;
  border-radius: 0;
  border:none;
  border-bottom: 1px solid #000;
  padding: .375rem 0;
}	
.step1-form select{
  background: transparent;
  border-radius: 0;
  border:none;
  border-bottom: 1px solid #000;
  padding: .375rem 0;
  } */
.step1-form .form-control:focus {
  color: #495057;
  background-color: transparent;
  border-color: #000;
  outline: 0;
  box-shadow: none;
}
.show-posting-select {
  display: none;
}
.arrow-pointer {
  cursor: pointer;
}
.bg-content {
  position: relative;
  background: #000000;
  color: #fff;
  /*padding: 100px 0;*/
}
.bg-content:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 0;
  background-image: url("/assets/images/influ-bg-apply.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  object-fit: cover;
  object-position: center;
}

.bg-content-img {
  position: relative;
  width: 100%;
  height: auto;
  padding: 185.5px 0;
}
/* .bg2-content-img{
    background-image: url('images/influ-bg2-appy.png');
    background-position: right center;
    background-repeat :no-repeat;
    background-size: contain;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    } */
.center-section {
  align-items: center;
  height: 100%;
}
.influencer-bg-color {
  border: 1px solid;
  border-top-color: #e6eaee !important;
  border-right-color: #e6eaee !important;
  border-bottom-color: #e6eaee !important;
  color: #000;
  padding: 40px 40px;
  background-color: hsla(0, 0%, 100%, 0.85);
}
.influ-title p {
  font-size: 40px;
  text-align: center;
  color: #404040 !important;
}
.influ-text p {
  letter-spacing: 1px;
  padding-top: 20px;
  font-size: 20px;
}
.btn-apply-inf {
  background: #404040;
  color: #ffffff;
  padding: 8px 30px;
  width: 70%;
  text-transform: capitalize;
}
.btn-apply-inf:hover {
  color: #ffffff;
  background: #000;
}
.privacy-policy-toggle {
  cursor: pointer;
}
.policy-text {
  display: none;
  text-align: initial;
  margin-top: 20px;
  cursor: pointer;
}

@media (max-width: 375px) {
  .wizard .nav-tabs > li a i {
    transform: translate(-48%, -62%);
    font-size: 9px;
  }
  .wizard .nav-tabs > li a i.posttab {
    left: -12px;
  }
  .influ-title p {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .bg-content-img {
    padding: 40.5px 0;
  }
}
