<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-11 m-auto">
      <div class="privacy-policy-page">
        <div class="text-center policy-title">
          <h3>Cookie Policy</h3>
        </div>
        <div class="privacy-content mt-5">
          <p>
            This Privacy Policy ("Policy") explains how Afiliyo Networks LLP.
            ("Afiliyo") collects and processes personal information from users
            of its online websites at https://www.afiliyo.com ("Sites"), any
            applications, such as the Afiliyo ("App"), and other online services
            we provide (collectively, the "Services"). This Cookie Policy
            provides more information about the types of cookies we use and
            when.
          </p>
          <ul>
            <h4 class="font-weight-bold mt-5 text-uppercase">
              What are cookies?
            </h4>

            <li>
              In order for most websites to work properly, they need to collect
              certain basic information on its users. To accomplish this, a
              website will create files known as cookies. Cookies are small data
              files (e.g., text files) stored on the browser or on computers,
              phones, and other devices used to view a website or other content.
              Cookies are designed to allow the website to recognize its users
              during subsequent visits, or to authorize other authorized
              websites to recognize these users for a particular purpose. Most
              major browsers are set up so that they will initially accept
              cookies.
            </li>

            <h4 class="font-weight-bold mt-5 text-uppercase">
              What are cookies used for?
            </h4>
            <li>
              Cookies are essential to make your experiences on our Sites and
              Apps much smoother and interactive. Cookies help us store your
              preferences and track your activity both within the Services and
              beyond. For example, cookies allow us to recognize you at log in,
              provide you with a personalized experience, track sales to help us
              pay commissions to influencers after you make a purchase, and
              provide other analytics to allow us to assess and improve our
              Services
            </li>

            <li>For additional information, see our Privacy Policy.</li>

            <h4 class="font-weight-bold mt-5 text-uppercase">
              When do we set cookies?
            </h4>
            <li>
              We use cookies if you visit our Sites, have a Afiliyo account, use
              our Services, including our Sites and Apps, or visit other
              websites and apps that use our Services. Cookies set by Afiliyo
              are called “first party cookies.” We may set these first party
              cookies when you visit our Sites, when you download our Apps, and
              as you interact with our Services, including emails, newsletters
              and ads. Cookies set by other parties/websites are called “third
              party cookies.” Third party cookies and other tracking
              technologies may also be used on our Services and our Sites and
              Apps. Third parties that collect information about you when you
              use our site or apps are generally limited to service providers
              who may only use information collected only to provide services
              and marketing for us and not to provide services or advertising
              for another party.
            </li>
            <li>
              Specifically, we may place cookies on your computer or device, and
              receive information stored in cookies when you use or visit our
              Sites, our Apps, products provided by us, or our third-party
              websites that incorporate Afiliyo Services into their websites or
              apps. We may also set cookies when you are browsing a third-party
              partner (like an influencer’s blog or a retailer’s site). For more
              information, please see our
              <a [routerLink]="['/privacy']">Privacy Policy.</a>
            </li>

            <h4 class="font-weight-bold mt-5 text-uppercase">
              What categories of cookies do we use?
            </h4>
            <p>
              There are several types of cookies, such as session cookies (which
              expire when you close your browser), persistent cookies (which
              expire after a certain amount of time or set date) and flash
              cookies (which are written using Adobe Flash and may be
              permanently stored).
            </p>
            <p>
              Below are ways that we and our partners use these technologies on
              our Services.
            </p>
            <ul class="sub-tex-disc">
              <li>
                <b>Essential:</b> Strictly necessary to provide you with our
                online service and the functionality that you have requested. We
                cannot provide the service you requested without these cookies.
              </li>
              <li>
                <b>Preferences:</b> Helps us remember your settings and
                preferences so that we can provide a more personalized service.
              </li>
              <li>
                <b>Authentication:</b> To log into the Services, enable us to
                show you our account data, and help us keep your data and the
                Services safe and secure.
              </li>
              <li>
                <b>Analytics and Research:</b> Helps us understand how you are
                using the Services so that we can make them better, faster, and
                safer.
              </li>
            </ul>

            <h4 class="font-weight-bold mt-5 text-uppercase">
              How do I control cookies?
            </h4>
            <li>
              Most browsers provide you cookie controls. For more detailed
              information on your choices in relation to our Services, please
              see our Privacy Policy. If you choose to block, reject, disable,
              delete or change the management settings for cookies, then the
              Services may not function properly or at all.
            </li>

            <h4 class="font-weight-bold mt-5 text-uppercase">
              Do we collect cookies from children?
            </h4>
            <li>
              We do not knowingly collect personal information, through cookies
              or otherwise, from individuals under the age of 13 without
              obtaining verifiable consent from their parents. We request that
              such individuals do not provide personal information through the
              services.
            </li>

            <h4 class="font-weight-bold mt-5 text-uppercase">
              Do we update our Cookie Policy?
            </h4>
            <li>
              We may update this Cookie Policy from time to time to reflect, for
              example, changes to the cookies we use and will revise the “last
              updated” date posted at the top of this Cookie Policy accordingly.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
