<main class="content-wrapper-section">
  <div class="container-fluid">
    <div *ngIf="data" class="row">
      <div class="col-12">
        <div class="profile-section-main">
          <div
            class="profile-section-imgs"
            style="
              background: url('{{ data.background_img }}');
              background-repeat: no-repeat;
              background-size: cover;
            "
          ></div>
          <div class="profile-section-btm">
            <img src="{{ data.profile_pic_img }}" alt="" />
            <div class="profile-section-btm-text">
              <span>{{ data.name }}</span>
              <p>Admin</p>
            </div>
          </div>
          <div class="profile-section-btns profile-edit">
            <a
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#edit-picture-modal"
            >
              <img src="assets/images/camera-icon.svg" class="mr-1" />
              <span>Edit Picture</span>
            </a>
          </div>
          <div class="profile-section-btns">
            <a
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#password-change-modal"
            >
              <span>Change Password</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 m-auto">
        <div class="profile-section-main-inner">
          <div class="profile-section-main-inner-hdr">
            <span>Edit Profile</span>
          </div>
          <div class="profile-section-main-inner-body py-3">
            <form
              class="row m-0"
              [formGroup]="editForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="col-md-6 form-group">
                <input
                  type="text"
                  value=""
                  class="form-control input-style-admin"
                  [placeholder]="data.name"
                  formControlName="name"
                  [ngClass]="{
                    'is-invalid': submitted && f.name.errors
                  }"
                />
                <div
                  *ngIf="submitted && f.name.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <input
                  type="text"
                  value=""
                  class="form-control input-style-admin"
                  [placeholder]="data.username"
                  formControlName="username"
                  [ngClass]="{
                    'is-invalid': submitted && f.username.errors
                  }"
                />
                <div
                  *ngIf="submitted && f.username.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.username.errors.required">
                    User Name is required
                  </div>
                </div>
              </div>
              <div class="col-12 form-group">
                <textarea
                  class="form-control input-style-admin h-auto"
                  rows="5"
                  [placeholder]="data.bio"
                  formControlName="bio"
                  [ngClass]="{
                    'is-invalid': submitted && f.bio.errors
                  }"
                ></textarea>
                <div *ngIf="submitted && f.bio.errors" class="invalid-feedback">
                  <div *ngIf="f.bio.errors.required">Bio is required</div>
                </div>
              </div>
              <div class="col-12 form-group">
                <input
                  type="text"
                  value=""
                  class="form-control input-style-admin"
                  [placeholder]="data.sh_website ? data.sh_website : 'Website'"
                  formControlName="sh_website"
                />
              </div>
              <div class="col-12 form-group">
                <input
                  type="text"
                  value=""
                  class="form-control input-style-admin"
                  [placeholder]="
                    data.sh_instagram ? data.sh_instagram : 'Instgram'
                  "
                  formControlName="sh_instagram"
                />
              </div>
              <div class="col-12 form-group">
                <input
                  type="text"
                  value=""
                  class="form-control input-style-admin"
                  [placeholder]="
                    data.sh_facebook ? data.sh_facebook : 'Facebook'
                  "
                  formControlName="sh_facebook"
                />
              </div>
              <div class="col-12 form-group">
                <input
                  type="text"
                  value=""
                  class="form-control input-style-admin"
                  [placeholder]="data.sh_tiktok ? data.sh_tiktok : 'Tiktok'"
                  formControlName="sh_tiktok"
                />
              </div>
              <div class="col-12 form-group">
                <input
                  type="text"
                  value=""
                  class="form-control input-style-admin"
                  [placeholder]="data.sh_twitter ? data.sh_twitter : 'Twitter'"
                  formControlName="sh_twitter"
                />
              </div>
              <div class="col-12 form-group">
                <input
                  type="text"
                  value=""
                  class="form-control input-style-admin"
                  [placeholder]="data.sh_youtube ? data.sh_youtube : 'Youtube'"
                  formControlName="sh_youtube"
                />
              </div>
              <div class="col-12">
                <div class="btn-btm-inr-tabs text-center my-3">
                  <button type="submit" class="btn btn-reset mr-2">
                    Submit
                  </button>
                  <button type="button" class="btn btn-inr-top">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay toggle-icon-main"></div>
</main>

<div
  class="modal fade"
  id="password-change-modal"
  tabindex="-1"
  aria-labelledby="password-change-modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-cust-small">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <img src="assets/images/modal-close-icon.svg" alt="" />
        </button>
      </div>
      <div class="modal-body">
        <form
          class="row comn-form"
          [formGroup]="changeForm"
          (ngSubmit)="onChangeSubmit()"
        >
          <div class="col-12 form-group">
            <input
              type="password"
              value=""
              class="form-control input-style-admin"
              placeholder="Current Password"
              formControlName="oldpassword"
              [ngClass]="{
                'is-invalid': changeSubmit && f1.oldpassword.errors
              }"
            />
            <div
              *ngIf="changeSubmit && f1.oldpassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f1.oldpassword.errors.required">
                Current password is required
              </div>
            </div>
          </div>
          <div class="col-12 form-group">
            <input
              type="password"
              value=""
              class="form-control input-style-admin"
              placeholder="New Password"
              formControlName="newpassword"
              [ngClass]="{
                'is-invalid': changeSubmit && f1.newpassword.errors
              }"
            />
            <div
              *ngIf="changeSubmit && f1.newpassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f1.newpassword.errors.required">
                New password is required
              </div>
            </div>
          </div>
          <div class="col-12 form-group">
            <input
              type="password"
              value=""
              class="form-control input-style-admin"
              placeholder="Confirm Password"
              formControlName="confirmpassword"
              [ngClass]="{
                'is-invalid': changeSubmit && f1.confirmpassword.errors
              }"
            />
            <div
              *ngIf="changeSubmit && f1.confirmpassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f1.confirmpassword.errors.required">
                Confirm password is required
              </div>
              <div *ngIf="f1.confirmpassword.errors.mustMatch">
                Passwords must match
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="btn-btm-inr-tabs text-center my-3">
              <button type="submit" class="btn btn-inr-top">
                Change Password
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="edit-picture-modal"
  tabindex="-1"
  aria-labelledby="edit-picture-modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-cust-small">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Picture</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <img src="assets/images/modal-close-icon.svg" alt="" />
        </button>
      </div>
      <div class="modal-body">
        <form class="row comn-form">
          <div class="col-12 form-group">
            <label class="dash-label">Profile Image</label>
            <input
              type="file"
              value=""
              class="form-control input-style-admin"
              placeholder=""
            />
          </div>
          <div class="col-12 form-group">
            <label class="dash-label">Background Image</label>
            <input
              type="file"
              value=""
              class="form-control input-style-admin"
              placeholder=""
            />
          </div>
          <div class="col-12">
            <div class="btn-btm-inr-tabs text-center my-3">
              <button type="button" class="btn btn-inr-top">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
