@media (max-width: 992px) {
  .wrapper {
    width: 100%;
  }
}

.contact-panel-tab .panel-heading {
  padding: 0;
  border: 0;
}

.contact-panel-tab .panel-title > a,
.panel-title > a:active {
  display: block;
  padding: 15px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  /* text-transform: capitalize; */
  /*letter-spacing:1px;*/
  word-spacing: 3px;
  text-decoration: none;
}

.contact-panel-tab .panel-heading a:before {
  content: "\f068";
  float: right;
  transition: all 0.5s;
  font-family: "Poppins", sans-serif;
  font-family: FontAwesome;
}

.contact-panel-tab .panel-heading a.collapsed:before {
  content: "\f067";
  font-family: "Poppins", sans-serif;
  font-family: FontAwesome;
}

.contact-panel-tab .panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.contact-panel-tab .panel-default > .panel-heading.active {
  color: var(--thm-black);
  background-color: #eee;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 5px;
}

.contact-panel-tab .panel-default > .panel-heading {
  color: var(--thm-black);
  background-color: inherit;
  border: 1px solid #e4e9f2;
  box-sizing: border-box;
  border-radius: 5px;
}

.contact-panel-tab .panel-body {
  padding: 15px;
  color: #635f5f;
}

.contact-panel-tab .panel-default {
  padding: 7px 0;
}

.slider-back-link a {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
}

.slider-text-size {
  font-size: 50px;
}
