<section class="mt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="main-tital-content text-center">
          <h1 class="text-main-heading text-capitalize">FAQ</h1>
          <p>
            Afiliyo is a platform for people to create a source of income from
            affiliate source of the revenue for a sale.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="row mt-5">
          <div class="col-12 col-lg-8 offset-lg-2">
            <div class="wrapper center-block contact-panel-tab">
              <div
                class="panel-group"
                id="accordion"
                role="tablist"
                aria-multiselectable="true"
              >
                <div class="panel panel-default">
                  <div class="panel-heading active" role="tab" id="question1">
                    <h4 class="panel-title mb-0">
                      <a
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        Q:1 How to promote a Product on Afiliyo?
                      </a>
                    </h4>
                  </div>
                  <div
                    id="collapseOne"
                    class="panel-collapse collapse in show"
                    role="tabpanel"
                    aria-labelledby="question1"
                  >
                    <div class="panel-body">
                      <p>
                        For any user it is a simple process of creating an
                        account with Afiliyo.
                      </p>
                      <p>Copy the link of the product you want to share.</p>
                      <p>Paste the link in our “Link It” feature and</p>
                      <p>
                        Afiliyo will generate a unique for you to share it
                        anywhere.
                      </p>
                      <p>
                        This unique link keeps track of every action happening
                        through it.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="question2">
                    <h4 class="panel-title mb-0">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        Q:2 Is there a criterion for registering with Afiliyo?
                      </a>
                    </h4>
                  </div>
                  <div
                    id="collapseTwo"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="question2"
                  >
                    <div class="panel-body">
                      <p>
                        Earning through Afiliyo does not require qualification
                        from the user.
                      </p>
                      <p>
                        Registering as an influencer, however, gives you access
                        to upload pictures and video within the app for higher
                        results. But registering as an influencer requires
                        criteria to be fulfilled.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="question3">
                    <h4 class="panel-title mb-0">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapsethree"
                        aria-expanded="false"
                        aria-controls="collapsethree"
                      >
                        Q:3 Which products do I promote?
                      </a>
                    </h4>
                  </div>
                  <div
                    id="collapsethree"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="question3"
                  >
                    <div class="panel-body">
                      <p>
                        While Afiliyo takes care of partnering with big brands,
                        you can simply choose a product and promote via your
                        unique links. You can also promote the products
                        according to your audience needs. Post a video that
                        helps explain the product better. We will provide you
                        with analytics to help you decide your product wisely.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="question4">
                    <h4 class="panel-title mb-0">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapsefour"
                        aria-expanded="false"
                        aria-controls="collapsefour"
                      >
                        Q:4 Easy Money Transfer Policy.
                      </a>
                    </h4>
                  </div>
                  <div
                    id="collapsefour"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="question4"
                  >
                    <div class="panel-body">
                      <p>
                        Afiliyo has a minimum threshold of Rs. 10. As soon as
                        your earnings cross this threshold, you can simply
                        transfer your #RealCash or Profit into your bank account
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="question5">
                    <h4 class="panel-title mb-0">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapsefive"
                        aria-expanded="false"
                        aria-controls="collapsefive"
                      >
                        Q:5 Who can make money from Afiliyo Network?
                      </a>
                    </h4>
                  </div>
                  <div
                    id="collapsefive"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="question5"
                  >
                    <div class="panel-body">
                      <p>
                        Afiliyo is an app for anyone who wants to suggest a
                        person with the product they find value in. Rather then
                        giving people words, now you can share them a link to
                        direct purchase the product and also get rewarded for
                        it.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="question6">
                    <h4 class="panel-title mb-0">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapsesix"
                        aria-expanded="false"
                        aria-controls="collapsesix"
                      >
                        Q:6 Empowering people, creators and influencers.
                      </a>
                    </h4>
                  </div>
                  <div
                    id="collapsesix"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="question6"
                  >
                    <div class="panel-body">
                      <p>
                        Money is an important factor of life but not the only.
                        For people looking to create greater things they usually
                        face the problem of earning. Afiliyo helps empower those
                        people and be a platform for a source of income for
                        these people.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="question7">
                    <h4 class="panel-title mb-0">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapsesaven"
                        aria-expanded="false"
                        aria-controls="collapsesaven"
                      >
                        Q:7 How much can we earn from Afiliyo?
                      </a>
                    </h4>
                  </div>
                  <div
                    id="collapsesaven"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="question7"
                  >
                    <div class="panel-body">
                      <p>
                        One can easily earns up to Rs.10,000 to 1,00,000 a month
                        via affiliate marketing. But you can earn as much as
                        wanted just by sharing the links and converting it to
                        sales. So the sky is the limit.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>