<div class="notifaction-src-main">
  <div class="notifaction-src-main-hdr">
    <a href="javascript:void(0)" class="filter-src-close">
      <img src="/assets/images/close-icon.svg" alt="" />
    </a>
  </div>
  <div class="notifaction-src-main-body">
    <div class="notifaction-src-main-body-top">
      <ul class="row m-0 menu-1">
        <li class="col-12 col-lg-6 mb-md-5 mb-2">
          <a href="#" data-slide="0" class="link-1 dslide">Influencers</a>
        </li>
        <li class="col-12 col-lg-6 mb-md-5 mb-2">
          <a href="#" data-slide="1" class="link-2 dslide">Brands</a>
        </li>
        <li class="col-12 col-lg-6 mb-md-5 mb-2">
          <a href="#" data-slide="2" class="link-3 dslide">About Us</a>
        </li>
        <li class="col-12 col-lg-6 mb-md-5 mb-2">
          <a href="#" data-slide="3" class="link-6 dslide">Download</a>
        </li>
        <li class="col-12 col-lg-6 mb-md-5 mb-2">
          <a href="#" data-slide="4" class="link-5 dslide">Careers</a>
        </li>
        <li class="col-12 col-lg-6 mb-md-5 mb-2">
          <a href="#" data-slide="5" class="link-4 dslide">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="notifaction-src-main-body-btm d-xl-flex align-items-center">
    <p class="text-center mb-3 mb-xl-0">
      Copyright © 2019-2020 All Right Reserved.
    </p>
    <div class="">
      <ul
        class="ftr-so-icon d-flex align-items-center justify-content-xl-end justify-content-center"
      >
        <li><span class="mr-3">Follow Us :</span></li>
        <li>
          <a href="javascript:void(0);">
            <img src="/assets/images/facebook-icon.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <img src="/assets/images/instagram-icon.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <img src="/assets/images/youtube-icon.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <img src="/assets/images/linkedin-icon.svg" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
