<main class="content-wrapper-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="inr-title-comn d-sm-flex align-items-center">
          <h1>Blacklist Users</h1>
          <div class="inr-title-btn ml-auto mt-3 mt-md-0 text-center">
            <button type="button" class="btn btn btn-reset mr-2">Export</button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="dash-box-white">
          <div class="tab-content">
            <div
              class="tab-pane fade active show"
              id="pills-All"
              role="tabpanel"
              aria-labelledby="pills-All-tab"
            >
              <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                id="Customers-list"
                class="display"
              >
                <thead>
                  <tr>
                    <th>Action</th>
                    <th>Id</th>
                    <th>User Id</th>
                    <th>False Attempt</th>
                    <th>Block</th>
                    <th>Time Stamp</th>
                  </tr>
                </thead>
                <tbody *ngIf="data?.length != 0">
                  <tr *ngFor="let person of data; index as i">
                    <td>
                      <a
                        href="javascript:void(0)"
                        (click)="person.isEditable = !person.isEditable"
                        *ngIf="!person.isEditable"
                      >
                        <img
                          src="/assets/images/edit-icon-table.svg"
                          class="mx-2 table-img-inr"
                          alt=""
                        />
                      </a>
                      <a
                        href="javascript:void(0)"
                        (click)="
                          [
                            (person.isEditable = !person.isEditable),
                            onEditRaw(person.id)
                          ]
                        "
                        *ngIf="person.isEditable"
                        style="margin-right: 10px"
                      >
                        <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                      </a>
                      <a
                        href="javascript:void(0)"
                        (click)="
                          [(person.isEditable = !person.isEditable), rerender()]
                        "
                        *ngIf="person.isEditable"
                        style="margin-right: 6px"
                      >
                        <i class="fa fa-close fa-lg"></i>
                      </a>
                      <a
                        *ngIf="!person.isEditable"
                        href="javascript:void(0)"
                        (click)="onDeleteRaw(person.id)"
                      >
                        <img
                          src="/assets/images/delete-icon.svg"
                          class="mx-2 table-img-inr"
                          alt=""
                        />
                      </a>
                    </td>
                    <td>{{ person.id }}</td>
                    <td>{{ person.user_id }}</td>
                    <td *ngIf="person.isEditable">
                      <input
                        class="input-style"
                        type="number"
                        [(ngModel)]="data[i].false_attempt"
                        [placeholder]="person.false_attempt"
                        (keyup.enter)="
                          [
                            (person.isEditable = !person.isEditable),
                            onEditRaw(person.id)
                          ]
                        "
                      />
                    </td>
                    <td *ngIf="!person.isEditable">
                      {{ person.false_attempt }}
                    </td>
                    <td>
                      <div class="custom-control custom-switch">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="block{{ i }}"
                          [checked]="person.block"
                        />
                        <label class="custom-control-label" for="block{{ i }}"
                          >Block</label
                        >
                      </div>
                    </td>
                    <td>{{ person.timestamp | date }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay toggle-icon-main"></div>
</main>
