<header class="trigger-menu-wrapper">
  <div
    class="img d-flex align-items-center justify-content-between trigger-menu"
  >
    <a href="javascript:void(0)" data-slide="0" class="link-1 dslide">
      <img src="/assets/images/afliyo_logo_main.svg" alt="" class="menu-icon" />
    </a>
    <div class="custom-menu mbl-hide notifaction-src-main-body-top">
      <ul class="row m-0 menu-1 align-items-center">
        <li class="header-menu-hover">
          <a href="javascript:void(0)" data-slide="0" class="link-1 dslide"
            >Influencers</a
          >
        </li>
        <li class="header-menu-hover">
          <a href="javascript:void(0)" data-slide="1" class="link-2 dslide"
            >Brands</a
          >
        </li>
        <li class="header-menu-hover">
          <a href="javascript:void(0)" data-slide="2" class="link-3 dslide"
            >About Us</a
          >
        </li>
        <li class="header-menu-hover">
          <a href="javascript:void(0)" data-slide="3" class="link-7 dslide"
            >Affiliate Marketing</a
          >
        </li>
        <li class="header-menu-hover">
          <a href="javascript:void(0)" data-slide="4" class="link-6 dslide"
            >Download</a
          >
        </li>
        <li class="header-menu-hover">
          <a href="javascript:void(0)" data-slide="5" class="link-5 dslide"
            >Careers</a
          >
        </li>
        <li class="header-menu-hover">
          <a href="javascript:void(0)" data-slide="6" class="link-4 dslide"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
    <span style="cursor: pointer" class="desktop-hide">
      <img
        src="/assets/images/812847%201.svg"
        alt=""
        class="bell-icon cust-main-sec-tg"
      />
    </span>
  </div>
</header>
